<div id="homepage">
  <h2>Eat, Meet, MIT</h2>
  <p>Welcome, {{currentUser}} (<a href="#" id="logoutLink">logout</a>)</p>
  <input id="makeRequest" class="generalBtn" type="button" value="Request">
  <input id="seeNetwork" class="generalBtn" type="button" value="Network">
</div>
