<div id="homepage">
  <p>Eat, Meet, MIT</p>
  <p>Welcome, XXX (<a href="#" id="logout-link">logout</a>)</p>
  <p><a href="#" id="request-button">Request</a></p>
  <p><a href="#" id="network-button">Network</a></p>
</div>
