<div id="homepage">
  <h2>Eat, Meet, MIT</h2>
  <p>Welcome, XXX (<a href="#" id="logout-link">logout</a>)</p>
  <input class="requestBtn" type="submit" value="Request">
  <input class="requestBtn" type="button" value="Network">
</div>
