<div id="signIn">
<a href="#" id="homeLink">Back to Home</a>
<h2>Sign In</h2>
<form id="loginForm">
<label> Username: </label> <input type="text" name="userName"> <br>
<label> Password: </label> <input type="password" name="password">
<br><br>
<input type="submit" class='generalBtn' value="Submit">
</form>
</div>
