<div class="match">

  
  <p>Below is your dinner plan for tonight!</p>
  <fieldset>
  <b> Time: </b> {{match.diner_time}} <br>
  <b> Dining Hall:</b> {{match.diner_location}} <br>
  <b> You are going to eat and meet with:</b> {{match.dinner_meet}} <br>
  <input class="generalBtn" type="button" id='dinnerCompleteBtn' value="Dinner Completed">
  </fieldset>
  

</div>
