<div id="network">
  <h2>Eat, Meet, MIT</h2>
  <div class="error"></div>
  <p>Hi there {{currentUser}}. Below are all of the people who are a part of your network. Send them a message! (<a id="logoutLink" href="#">logout</a>) </p>

  {{#each networkMember}}
    {{> networkMember}}
  {{else}}
    <p>Nobody in your network :( Add them after meals!</p>
  {{/each}}

  

  <input id="homeBtn" class="generalBtn" type="button" value="Back Home">

</div>
