<div id="registrationPage">
	<h2>Register</h2> <p>Back to Home</p>

	<form>
	Username: <input type="text" name="userName">
	Email Address( @mit.edu ): <input type="email" name="email">
	Password: <input type="password" name="password">
	Confirm Password: <input type="password" name="confirmPassword">
	</form>
	<br><br>
	<input type="submit" value="Submit">
	<!-- <button id="registerBtn">Submit</button> -->
</div>