<div id="registrationPage">
    <a href="#" id="homeLink">Back to Home</a>
	<h2>Register</h2> 
	<form id="registerForm">
	<label> Username: </label> <input type="text" name="userName"> <br>
	<label> MIT Email: </label>  <input type="email" name="email"> <br>
	<label> Password: </label> <input type="password" name="password"> <br>
	<label> Confirm Password: </label> <input type="password" name="confirmPassword">
    <br><br>
	<input type="submit" class='generalBtn' value="Submit">
	</form>
</div>
