<body>
  <h2>Eat, Meet, MIT </h2>
  <p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>) </p>
  <br>
  <p>Below is your dinner plan tonight!</p>
  <fieldset>
  <b> Time: </b> {{diner_time}} <br>
  <b> Dining Hall:</b> {{diner_location}} <br>
  <b> You are going to eat and meet with:</b> {{dinner_meet}} <br>
  </fieldset>
  <input class="requestBtn" type="button" value="Back Home">
</body>