/*body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/05/MIT_Building_10_and_the_Great_Dome,_Cambridge_MA.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}*/

body {
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/05/MIT_Building_10_and_the_Great_Dome,_Cambridge_MA.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
  color: #00B7FF;
}

#aPara{
  color: #00B7FF;
  font-size: 1.5em;
  margin-top: 1em;
}
b{
  font-size: 2em;
}
.form-control{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.col-md-12{
  margin-bottom: 1em;
}

.checkbox{
  font-size: 1.5em;
}

.error {
    color: red;
    margin-bottom: 10px;
}

fieldset {
    background-color: #ffffff;
}

.container-fluid, .jumbotron{
  background-color: rgba(255,255,255,0.75);
}
form{
  margin-top: 1em;
  margin-bottom: 1em;
}
.jumbotron{
  margin-top: 1em;
}

.container-fluid{
  min-height: 100%;
}

.fill{
  min-height: 100%;
}

p{
  font-size: 2em;
}
/*.row{
  opacity: .8;
  background-color: white;
}*/

h2, #logout {
    color: #b22222;
}


.generalBtn{
    background-color: #b22222;
    color: #ffffff;
}

#loginForm > label {
    float: left;
    width: 75px;
    text-align: left;
}

.conversation_receriver_name{
  background-color:#b22222;
  color:#ffffff;
  text-align: center;
  width:502px;
/*  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;*/
}

.chat_box {
  border-style: solid;
  border: 1px;
  height: 30em;
  overflow: scroll;
}

.author_message{
  background-color:#bd3b0f;
  color:#ffffff;
 /* text-align: center;*/
/*  min-height: 10px;*/
  max-width: 200px;
  margin-left:285px;
  margin-right:.5em;
  margin-top: 10px;
  margin-bottom:5px;
  position: relative;
  padding-top: 0.5px;
  padding-right: 0.5px;
  padding-bottom: 0.5px;
  padding-left: 0.5px;
  overflow:auto;
}

.message_status{
  font-style: italic;
  margin-left:295px;
}

.receiver_message{
  background-color:#ffd9cc;
  color:#000000;
  /*text-align: center;*/
/*  min-height: 10px;*/
  max-width: 200px;
  margin-right:295px;
  margin-top: 10px;
  margin-bottom:5px;
  position: relative;
  padding-top: 0.5px;
  padding-right: 0.5px;
  padding-bottom: 0.5px;
  padding-left: 0.5px;
  overflow:auto;
}

#new_message_input{
  width:400px;
  overflow:auto;
}

.network_messages{
  padding-left: 1em;
  padding-right: 1em;
  border:3px rgba(255,255,255,0.9);
  margin-top:5px;
  margin-bottom: 5px;
}

.messageDetail{
  font-size: 1em;
}

.messagePerson{
  font-size: 3em;
}

.col-md-4{
  margin-bottom: 1em;
}