<div id="homepage">
  <div class="jumbotron text-center">
    <h1>Eat, Meet, MIT</h1>
    <div class="error"></div>
    <p>Welcome, {{currentUser}} (<a href="#" id="logoutLink">logout</a>)</p>
  </div>
  <div class="row text-center">
    
    <div class="col-md-12">
    
      {{#if request}}

        {{#ifEq request.status '===' 'pending' }}
          <p> Request is currently pending </p>
          <button id="cancelRequestBtn" class='btn btn-primary btn-lg'>Cancel Request</button>
        {{/ifEq}}

        {{#ifEq request.status '===' 'matched' }}
          {{> match}}
        {{/ifEq}}
      
      {{else}}  
        <p> You currently have no active requests :( Make one! </p>
        <button id='makeRequest' class='btn btn-primary btn-lg'>Request</button>
      {{/if}}
      <button id='seeNetwork' class='btn btn-primary btn-lg'>Network</button>
    </div>
    
  </div>
</div>
