<div id='homepage'>
<div class="jumbotron text-center">
    <h1> Welcome to Eat, Meet, MIT </h1>
    <p> The place that connects you to other hungry students on campus</p>
</div>

  <div class="row text-center">
  	
  	<div class="col-md-12">
	    <p> Please log in to continue </p>
	    <button id='loginBtn' class='btn btn-primary btn-lg'> Log in </button> 
	    <button id='registerBtn' class='btn btn-primary btn-lg'>Register </button>
	  </div>
	
	</div>

</div>
