<div id="signIn">
		<p id="aPara"><a href="#" id="indexLink">Back</a></p>
			<div class="jumbotron text-center">
				<h1>Sign In</h1>
				  <div class="error">
				    {{#if error}}
				      {{error}}
				    {{/if}}
				  </div>
				<form id="loginForm" role="form">
					<div class="form-group">
						<label class="control-label"> Username: </label>
						<input type="text" name="username" class="form-control">
					</div>
					<div class="form-group">
						<label> Password: </label> <input type="password" name="password" class="form-control">
					</div>
					<br><br>
					<button type="submit" class='btn btn-default'>Submit</button>
				</form>
			</div>
</div>
