<div class="match">

  <div class="jumbotron text-center">
	  <p>Below is your dinner plan for tonight!</p>
	  
	  <b> Time: </b> <p>{{match.diner_time}}:00</p> <br>
	  <b> Dining Hall:</b> <p>{{match.diner_location}}</p> <br>
	  <b> You are going to eat and meet with:</b> <p id="personEatWith">{{match.dinner_meet}}</p> <br>
	  <button class='btn btn-primary btn-lg' id='dinnerCompleteBtn'>Dinner Completed</button>
	  
  </div>

</div>
