<!DOCTYPE html>
<html>
    <style>
        body {
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
    </style>
    <body>
    <h3> Hi {{username}}! </h3> 
    <p>Almost done. Just go to the following link to finish registration! </p> 
    <p>{{link}}</p>
    </body>
</html>
