<!DOCTYPE html>
<html>
    <style>
        body {
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
    </style>
    <body>
    <h3> Hi {{username}}! </h3> 
    <p>Almost done. Just go to the following <a href=http://eat-meet-mit.herokuapp.com/users/confirm?id={{id}}>link</a> to finish registration! </p> 
    </body>
</html>
