<!DOCTYPE html>
<html>
    <style>
        body {
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
        li {
            font-weight: bold;
        }
    </style>
    <body>
    <h3> Hi {{username}}! </h3> 
    <p> This is a friendly reminder that you have upcoming dinner plans! </p> 
    <p> Here are your dinner details:</p>
    <ul style="list-style-type:none">
        <li>Dinner With: {{otherUser}}</li>
        <li>Dining Hall : {{place}}</li>
        <li>Time : {{time}}</li>
    </ul> 
    </body>
</html>
